{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
    <!-- ================ start banner area ================= -->
    <section class="contact-banner-area" id="gallery">
        <div class="container h-100">
            <div class="contact-banner">
                <div class="text-center">

                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->

    <!-- ================ start gallery section ================= -->

    <section class="section-margin">
        <div class="container">
            <div class="section-intro text-center pb-80px">
                <div class="section-intro__style">
                    <img src="{% static "img/home/bed-icon.png" %}" alt="">
                </div>
                <h2>Bàn Ghế</h2>
                <h5>Giá vui lòng liên hệ : 0936 41 41 22</h5>
            </div>

            <div class="row">
                {% for product in data %}
                    <div class="col-6 mb-4">
                        <a href="{{ product.image.url }}" class="img-gal card-img">
                            <div class="single-imgs relative">
                                <div class="overlay overlay-bg"></div>
                                <div class="relative">
                                    <img class="card-img rounded-0" src="{{ product.image.url }}" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ================ end gallery section ================= -->
{% endblock %}