{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <!-- ================ header section end ================= -->
  <main class="site-main">


    <!-- ================ start banner area ================= -->
    <section class="home-banner-area" id="home">
      <div class="container h-100">
        <div class="home-banner">
          <div class="text-center">
            <h1>Đồ Gỗ <em>Ngọc Duy</em></h1>
            <a class="button home-banner-btn" href="tel:+84936414122">GỌI NGAY</a>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ end banner area ================= -->

    <!-- ================ Explore section start ================= -->
    <section class="section-margin">
      <div class="container">
        <div class="section-intro text-center pb-80px">
          <div class="section-intro__style">
            <img src="{% static "img/home/bed-icon.png" %}" alt="">
          </div>
          <h2>Đồ Gỗ Mỹ Nghệ</h2>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card card-explore">
              <div class="card-explore__img">
                <img class="card-img" src="{% static "img/Gmail/ban_ghe/IMG-2437.JPG" %}" alt="">
              </div>
              <div class="card-body">
                <h4 class="card-explore__title"><a href="#">Bàn Ghế</a></h4>
                <p>Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved blessed </p>
                <a class="card-explore__link" href="#">Liên Hệ <i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card card-explore">
              <div class="card-explore__img">
                <img class="card-img" src="{% static "img/Gmail/tuong_go/IMG-2398.JPG" %}" alt="">
              </div>
              <div class="card-body">
                <h4 class="card-explore__title"><a href="#">Tượng Gỗ</a></h4>
                <p>Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved blessed </p>
                <a class="card-explore__link" href="#">Liên Hệ <i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="card card-explore">
              <div class="card-explore__img">
                <img class="card-img" src="{% static "img/Gmail/IMG-2404.JPG" %}" alt="">
              </div>
              <div class="card-body">
                <h4 class="card-explore__title"><a href="#">Sản Phẩm Khác</a></h4>
                <p>Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved blessed </p>
                <a class="card-explore__link" href="#">Liên Hệ <i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ Explore section end ================= -->

    <!-- ================ video section start ================= -->
    <section class="video-area">
      <div class="container">
        <div class="row justify-content-center align-items-center flex-column text-center">
          <h3>Ngọc Duy</h3>
          <p>Chuyên đồ gỗ mỹ nghệ</p>
        </div>
      </div>
    </section>
    <!-- ================ video section end ================= -->

  </main>

{% endblock %}