{% extends 'base.html' %}
{% load staticfiles %}
  {% block content %}
  <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="about">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">

                </div>
            </div>
    </div>
    </section>
	<!-- ================ end banner area ================= -->


	<!-- ================ welcome section start ================= -->
      <section class="welcome pt-0 section-margin">

          {% for post in data %}
              <div class="container" style="margin-top: 20px;">
                  <div class="row align-items-center">
                      <div class="col-lg-4 mb-4 mb-lg-0">
                          <div class="row no-gutters welcome-images">
                              <div class="col-lg-12">
                                  <div class="card">
                                      <img class="" src="{{ post.image.url }}" alt="Card image cap" style="width: 100%">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-8">
                          <div class="welcome-content">
                              <h2 class="mb-4"><span class="d-block">{{ post.title }}</span></h2>
                              <p style="word-break: break-word">
                                  {{ post.content }}
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          {% endfor %}

      </section>
	<!-- ================ welcome section end ================= -->	
{% endblock %}